<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false">
	<description>REDIS缓存配置</description>

	<!-- 
	<bean id="redixProxy" class="com.graby.store.base.redis.ShardedRedisProxy">
	    <property name=""></property>
	</bean>
	 -->
	<!-- JEDIS SHARD 池配置 -->
	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1">
			<list>
				<ref bean="jedis.shardInfo.default" />
			</list>
		</constructor-arg>
	</bean>

	<!-- JEDIS连接池配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="1000" />
		<property name="maxIdle" value="200" />
		<property name="maxWaitMillis" value="5000" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<!-- JEDIS SHARD信息配置[START]		在此添加REDIS集群配置 -->
	<bean id="jedis.shardInfo.default" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="175.6.27.205" />
		<constructor-arg index="1" type="int" value="6379" />
		<constructor-arg index="2" type="java.lang.String" value="175.6.27.205" />
		<property name="password" value="store888"></property>
	</bean>
	<!-- JEDIS SHARD信息配置 [END] -->
</beans>