<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.ItemDao">

	<!-- 插入商品 -->
	<insert id="save" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
		insert into sc_item (
		userid, code, title, weight, description)
		values (
		#{userid}, #{code}, #{title}, #{weight}, #{description})
	</insert>
	
	<!-- 查询单个商品 -->
	<select id="get" parameterType="int" resultType="Item">
		select id, code, userid, weight, title, sku, description
		from sc_item
		where id=#{id}
	</select>
	
	
	<!-- 获取用户商品总数 -->
	<select id="getTotalResults" resultType="long">
		select count(1) from sc_item where userid=#{0} and title like#{1}
	</select>
	
	<!-- 获取用户商品列表 -->
	<select id="getItems"  resultMap="itemEntity">
		select id, userid, code, title, weight, sku, description
		from sc_item a 
		where userid=#{0} and title like#{1} limit #{2},#{3}
	</select>
	
	<!-- 商品 -->
	<resultMap id="itemEntity" type="Item">
		<result property="id" column="id" />
		<result property="userid" column="userid" />
		<result property="code" column="code" />
		<result property="title" column="title" />
		<result property="sku" column="sku" />
		<result property="type" column="type" />
		<result property="weight" column="weight" />
		<result property="description" column="description" />
		<collection property="mapping" column="id" javaType="ArrayList" ofType="ItemMapping" select="itemMapped"/>  
	</resultMap>	

	<!-- 解除关联淘宝商品 -->
	<delete id="unRelate">
		delete from sc_item_mapping	where item_id=#{0} and num_iid=#{1} and sku_id = #{2}
	</delete>
	
	<delete id="unRelateAll">
		delete from sc_item_mapping	where item_id=#{0}
	</delete>
	
	
	<!-- 查询已关联的淘宝商品 -->
	<select id="itemMapped" parameterType="long" resultType="ItemMapping">
		select id as id,num_iid as "numIid",title as "title",detail_url as "detailUrl", sku_id as "skuId", sku_title as "skuTitle"
		from sc_item_mapping
		where item_id = #{id}
	</select>	
	
	<!--获取淘宝商品已关联的商品ID -->
	<select id="getRelatedItemId" resultType="long">
		select item_id from sc_item_mapping
		where num_iid = #{0} and sku_id = #{1}
	</select>
		
	
	<!-- 删除商品 -->
	<delete id="delete" parameterType="int">
	     delete from sc_item where id=#{id}
	</delete>

	<!-- 更新商品库位 -->
   <update id="updatePositin"> 
        update sc_item set position=#{1}  
        where item_id=#{0}
    </update> 
	
	<update id="updateSku"> 
        update sc_item set sku= #{1} 
        where id = #{0}
    </update> 
	
	<update id="updateItemTitle"> 
		UPDATE sc_item SET title = #{1} , sku = #{2}
		WHERE id = #{0}
    </update> 	

	
</mapper> 
