<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.ReportDao">

	<!-- 统计已售出商品-->
	<select id="sumUserSellouts" resultType="map">
	
		select a.`create_userid` as userId, d.username as "userName", d.shop_name as "shopName", b.item_id as itemId, c.title as itemName, sum(b.num) as num from
		sc_ship_order a
			left join sc_ship_order_detail b on b.order_id = a.id
			left join sc_item c on b.item_id = c.id
			left join sc_user d on d.id = a.create_userid
		where
			a.type='send' and (a.status='SEND_FINISH' or a.status='WAIT_BUYER_RECEIVED') 
		<if test="userId != null">  
    		and a.`create_userid`= #{userId}  
        </if> 
        <![CDATA[
		and a.`create_date` > date_format(#{startDate},'%Y-%m-%d %H:%i')
		and a.`create_date` <= date_format(#{endDate},'%Y-%m-%d %H:%i')
		group by b.item_id
		]]>
	</select>
	

  	<select id="findOrderSelloutCount"  resultType="long">
		SELECT count(1) 
		FROM sc_ship_order a
		WHERE 
		a.type='send' and (a.status='SEND_FINISH' or a.status='WAIT_BUYER_RECEIVED') 
		<if test="userId != null">  
    		and a.`create_userid`= #{userId}  
        </if>
		<![CDATA[
		and a.`create_date` > date_format(#{startDate},'%Y-%m-%d %H:%i')
		and a.`create_date` <= date_format(#{endDate},'%Y-%m-%d %H:%i')
		]]>

	</select>	
		
	<!-- 查询待出库单 -->
  	<select id="findOrderSellout" resultMap="ShipOrderEntity">
		SELECT 
		b.shop_name as "createUser.shopName", 
		create_date as "createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as "originPersion",
		a.origin_phone as "originPhone",		
		a.receiver_address as "receiverAddress", 
		a.receiver_city as "receiverCity",
		a.receiver_state as "receiverState", 
		a.receiver_name as "receiverName", 
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone", 
		a.receiver_district as "receiverDistrict", 
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as "sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as "buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as "buyerMessage" ,
		a.last_update_date as "lastUpdateDate",
		a.remark,
		a.orderno,
		a.express_company as "expressCompany",
		a.express_orderno as "expressOrderno"
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE 
		a.type='send' and  (a.status='SEND_FINISH' or a.status='WAIT_BUYER_RECEIVED') 
		<if test="userId != null">  
    		and a.`create_userid`= #{userId}  
        </if>
		<![CDATA[
		and a.`create_date` > date_format(#{startDate},'%Y-%m-%d %H:%i')
		and a.`create_date` <= date_format(#{endDate},'%Y-%m-%d %H:%i')
		]]>
		<if test="start != null">  
    		limit #{start},	  
        </if>
        <if test="offset != null">  
        	#{offset}	  
        </if>

	</select>	
	
	<resultMap id="ShipOrderEntity" type="ShipOrder">
		<result property="id" column="id" />
		<result property="centroId" column="centro_id" />
		<result property="createDate" column="create_date" />
		<result property="expressCompany" column="express_company" />
		<result property="expressOrderno" column="express_orderno" />
		<result property="fetchDate" column="fetch_date" />
		<result property="lastUpdateDate" column="last_update_date" />
		<result property="orderno" column="orderno" />
		<result property="originPersion" column="origin_persion" />
		<result property="originPhone" column="origin_phone" />
		<result property="receiverAddress" column="receiver_address" />
		<result property="receiverCity" column="receiver_city" />
		<result property="receiverDistrict" column="receiver_district" />
		<result property="receiverMobile" column="receiver_mobile" />
		<result property="receiverName" column="receiver_name" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="receiverState" column="receiver_state" />
		<result property="receiverZip" column="receiver_zip" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="buyerNick" column="buyer_nick" />
		<result property="buyerMessage" column="buyer_message" />
		<result property="buyerMemo" column="buyer_memo" />
		<result property="sellerPhone" column="seller_phone"/>
		<result property="sellerMobile" column="seller_mobile"/>
		<result property="sellerMemo" column="seller_memo"/>
		<result property="remark" column="remark" />
		<result property="status" column="status" />
		<result property="totalnum" column="totalnum" />
		<result property="tradeId" column="trade_id" />
		<result property="type" column="type" />
		<result property="createUser.id" column="create_userid" />
		<result property="lastUpdateUser.id" column="last_update_userid" />
		<collection property="details" column="id" javaType="ArrayList" ofType="ShipOrderDetail" select="shipOrderDetailMapped"/>  
	</resultMap>
	
	<select id="shipOrderDetailMapped" parameterType="long" resultType="ShipOrderDetail">
		SELECT  a.id, num, 
		sku_properties_name AS "skuPropertiesName", 
		item_id AS "item.id", 
		order_id AS "order.id",
		b.code AS "item.code" ,
		b.title AS "item.title",
		b.sku AS "item.sku", 
		b.weight AS "item.weight"
		FROM sc_ship_order_detail a LEFT JOIN sc_item b ON a.item_id = b.id		
		WHERE order_id =  #{id}
	</select>	
	
	<select id="shipCount" resultType="map">
		SELECT 
			b.id as "userId",
			b.shop_name as "shopName",
			b.id, 
			count(0) as "num",
			sum(c.num) as "items"
		FROM sc_ship_order a 
			LEFT JOIN sc_user b ON a.create_userid = b.id
			left join sc_ship_order_detail c on c.order_id = a.id
		WHERE 
		a.type='send' and  (a.status='SEND_FINISH' or a.status='WAIT_BUYER_RECEIVED') 
		<if test="userId != null">  
    		and a.`create_userid`= #{userId}  
        </if>
		<![CDATA[
		and a.`create_date` > date_format(#{startDate},'%Y-%m-%d %H:%i')
		and a.`create_date` <= date_format(#{endDate},'%Y-%m-%d %H:%i')
		]]>
		group by a.`create_userid`
	</select>	


</mapper> 
