<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.ShipOrderDao">

	<delete id="deleteOrder" parameterType="long">
	    delete from sc_ship_order where id=#{id}
	</delete>

	<delete id="deleteDetailByOrderId" parameterType="long">
	    delete from sc_ship_order_detail where order_id=#{orderId}
	</delete>
		
	<delete id="deleteDetail" parameterType="long">
	    delete from sc_ship_order_detail where id=#{id}
	</delete>
	
	<!-- 商家发送入库单 -->
	<update id="sendEntryOrder" parameterType="long"> 
        update sc_ship_order set status='ENTRY_WAIT_STORAGE_RECEIVED'
        where id=#{id}
    </update>
    
    <!-- 设置货单状态 -->
	<update id="setOrderStatus"> 
        update sc_ship_order set status=#{1}
        where id=#{0}
    </update>    

	<update id="setTradeStatus"> 
	  	UPDATE sc_trade a	SET  STATUS=#{1}
		WHERE a.id=(SELECT trade_id FROM  sc_ship_order b WHERE b.id=#{0}) 
    </update> 
        
	<!-- 查询用户出货单 -->
    <select id="getShipOrder" parameterType="long" resultMap="ShipOrderEntity">
		select
		  b.shop_name as "createUser.shopName",
		  a.*
		from sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id 
		where a.id=#{0}
	</select>
	
	<resultMap id="ShipOrderEntity" type="ShipOrder">
		<result property="id" column="id" />
		<result property="centroId" column="centro_id" />
		<result property="createDate" column="create_date" />
		<result property="expressCompany" column="express_company" />
		<result property="expressOrderno" column="express_orderno" />
		<result property="fetchDate" column="fetch_date" />
		<result property="lastUpdateDate" column="last_update_date" />
		<result property="orderno" column="orderno" />
		<result property="originPersion" column="origin_persion" />
		<result property="originPhone" column="origin_phone" />
		<result property="receiverAddress" column="receiver_address" />
		<result property="receiverCity" column="receiver_city" />
		<result property="receiverDistrict" column="receiver_district" />
		<result property="receiverMobile" column="receiver_mobile" />
		<result property="receiverName" column="receiver_name" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="receiverState" column="receiver_state" />
		<result property="receiverZip" column="receiver_zip" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="buyerNick" column="buyer_nick" />
		<result property="buyerMessage" column="buyer_message" />
		<result property="buyerMemo" column="buyer_memo" />
		<result property="sellerPhone" column="seller_phone"/>
		<result property="sellerMobile" column="seller_mobile"/>
		<result property="sellerMemo" column="seller_memo"/>
		<result property="remark" column="remark" />
		<result property="status" column="status" />
		<result property="totalnum" column="totalnum" />
		<result property="tradeId" column="trade_id" />
		<result property="type" column="type" />
		<result property="createUser.id" column="create_userid" />
		<result property="lastUpdateUser.id" column="last_update_userid" />
		<collection property="details" column="id" javaType="ArrayList" ofType="ShipOrderDetail" select="shipOrderDetailMapped"/>  
	</resultMap>
	
	<select id="shipOrderDetailMapped" parameterType="long" resultType="ShipOrderDetail">
		SELECT  a.id, num, 
		sku_properties_name AS "skuPropertiesName", 
		item_id AS "item.id", 
		order_id AS "order.id",
		b.code AS "item.code" ,
		b.title AS "item.title",
		b.sku AS "item.sku", 
		b.weight AS "item.weight"
		FROM sc_ship_order_detail a LEFT JOIN sc_item b ON a.item_id = b.id		
		WHERE order_id =  #{id}
	</select>		
	
    <!-- 根据交易查询出货单 -->
    <select id="getSendShipOrderByTradeId" resultMap="ShipOrderEntity">
		select
		  b.shop_name as "createUser.shopName",
		  a.*
		from sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		where a.trade_id=#{0}
	</select>
	
	
    <!-- 查询在途入库单 -->
  	<select id="findEntryOrderOnWay" resultType="ShipOrder">
		SELECT b.id as "createUser.id" , 
		b.shop_name as "createUser.shopName", 
		a.id, 
		a.express_orderno as expressOrderno, 
		a.centro_id as centroId,
		a.express_company as expressCompany, 
		a.orderno, a.totalnum, 
		a.fetch_date as "fetchDate"
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='entry' and a.status='ENTRY_WAIT_STORAGE_RECEIVED'
	</select>
	
	<select id="getEntryOrderDetail" resultType="long">
		SELECT id
		FROM sc_ship_order_detail WHERE order_id=#{0} and item_id=#{1}
	</select>

	<select id="getSendOrderIdByTradeId" resultType="long">
		SELECT id
		FROM sc_ship_order WHERE trade_id=#{0} for update
	</select>	
	
	<update id="increaseEntryOrderDetail"> 
        update sc_ship_order_detail set num = num + #{1}
        where id=#{0}
    </update> 
    
	
	<!-- 查询待运单打印出库单 -->
  	<select id="findSendOrderWaits" parameterType="long" resultMap="ShipOrderEntity">
		SELECT 
		b.shop_name as "createUser.shopName", 
		a.*
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='send' and a.status='WAIT_EXPRESS_RECEIVED' and a.centro_id=#{0} limit #{1}
	</select>
	
	<!-- 查询待拣货出库单 -->
  	<select id="findSendOrderByStatus" resultMap="ShipOrderEntity">
		SELECT 
		b.shop_name as "createUser.shopName", 
		create_date as "createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as "originPersion",
		a.origin_phone as "originPhone",		
		a.receiver_address as "receiverAddress", 
		a.receiver_city as "receiverCity",
		a.receiver_state as "receiverState", 
		a.receiver_name as "receiverName", 
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone", 
		a.receiver_district as "receiverDistrict", 
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as "sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as "buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as "buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as "expressCompany",
		a.express_orderno as "expressOrderno"
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='send' and a.status=#{1} and a.centro_id=#{0} limit #{2}
	</select>	
	
	<!-- 根据多个ID查询发货单 -->
	<select id="findSendOrders" resultMap="ShipOrderEntity">
		SELECT 
		b.shop_name as "createUser.shopName", 
		create_date as "createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as "originPersion",
		a.origin_phone as "originPhone",		
		a.receiver_address as "receiverAddress", 
		a.receiver_city as "receiverCity",
		a.receiver_state as "receiverState", 
		a.receiver_name as "receiverName", 
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone", 
		a.receiver_district as "receiverDistrict", 
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as "sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as "buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as "buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as "expressCompany",
		a.express_orderno as "expressOrderno"
	    FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
	    WHERE a.id in 
      	<foreach collection="array" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
        order by a.create_userid
	</select>
	
	<!-- 根据ID查询发货单并分组 -->	
	<select id="findSendOrdersGroup" resultType="map">
		select 
			d.shop_name as "shopName", 
			c.code, 
			c.title,
			c.sku, 
			sum(b.num) as "num"
		from sc_ship_order a , sc_ship_order_detail b, sc_item c, sc_user d
		where a.id=b.order_id and b.item_id = c.id and a.create_userid = d.id
	    and a.id in 
     	<foreach collection="array" index="index" item="ids" open="(" separator="," close=")">
           #{ids}
       </foreach>
        group by a.create_userid, c.title, c.sku
	</select>
	

	<!-- 查询待用户签收出库单 -->
  	<select id="findSendOrderSignWaits" resultMap="ShipOrderEntity">
		SELECT b.shop_name as "createUser.shopName", create_date as "createDate",
		a.id, a.centro_id as centroId, a.orderno, a.remark
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='send' and a.status='WAIT_BUYER_RECEIVED'
	</select>	
	
	<!-- 根据昵称或运单号查询出库单 -->
	<select id="findSendOrderByQ" resultMap="ShipOrderEntity">
	SELECT
		b.shop_name as "createUser.shopName", 
		create_date as "createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as "originPersion",
		a.origin_phone as "originPhone",		
		a.receiver_address as "receiverAddress", 
		a.receiver_city as "receiverCity",
		a.receiver_state as "receiverState", 
		a.receiver_name as "receiverName", 
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone", 
		a.receiver_district as "receiverDistrict", 
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as "sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as "buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as "buyerMessage" ,
		a.remark,
		a.orderno,a.status,
		a.express_company as "expressCompany",
		a.express_orderno as "expressOrderno",
		a.trade_id as "tradeId"
	FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
	WHERE a.type='send' AND (a.express_orderno like #{0} OR a.buyer_nick like #{0} or a.remark like #{0}  )
	LIMIT 0, 5;
	</select>

	
	<!-- 运单打印成功，更新出货单物流信息。 -->
	<update id="setSendOrderExpress" parameterType="map">
        update sc_ship_order set 
          	express_company=#{expressCompany},
          	express_orderno=#{expressOrderno},
        	status='WAIT_EXPRESS_PICKING'
        where id=#{id} and status='WAIT_EXPRESS_RECEIVED'
    </update>
    
    <!-- 选择快递公司 -->
    <update id="chooseExpress">
        update sc_ship_order set 
          	express_company=#{1}
        where id=#{0} and status='WAIT_EXPRESS_RECEIVED'
    </update>
    
    	
</mapper> 
