<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.AuditAreaDao">

	
	<resultMap id="auditAreaEntity" type="com.graby.store.entity.AuditArea">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="parentCode" column="parent_code" />
		<result property="level" column="level" />
		<result property="copmany" column="copmany" />
		<result property="end" column="end" />
		<result property="msg" column="msg" />
	</resultMap>
	<insert id="save" parameterType="AuditArea" useGeneratedKeys="true" keyProperty="id">
		insert into sc_audit_Area (
		code, name, parent_code,level,copmany,end,msg)
		values (
		#{code},#{name}, #{parentCode},#{level},#{copmany},#{end},#{msg})
	</insert>
	<select id="findAuditArea"   resultType="AuditArea">
	    select id, code, name, parent_code as parentCode,level,copmany,end,msg  from  sc_audit_area  t where find =  1
	    
	    <if test="name!=null and name!=''">
		    and t.name = #{name}
		</if>
	     <if test="level!=null and level!=''">
		    and t.level = #{level}
		</if>
		 <if test="parentCode!=null and parentCode!=''">
		    and t.parent_code = #{parentCode}
		</if>
		<if test="end!=null and end!=''">
		    and t.end = #{end}
		</if>
	</select>
</mapper> 
