<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.CpInterceptDao">
	<resultMap id="CpInterceptEntity" type="com.graby.store.entity.CpIntercept">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="parentCode" column="parent_code" />
		<result property="level" column="level" />
		<result property="company" column="company" />
		<result property="end" column="end" />
		<result property="msg" column="msg" />
	</resultMap>
	
	<select id="findCpInterceptByParam" resultType="com.graby.store.entity.CpIntercept" parameterType="map">
		select t.*
		from sc_company_intercept t
		where 
		1=1
		<if test="name!=null and name!=''">
		    and t.name = #{name}
		</if>
	     <if test="level!=null and level!=''">
		    and t.level = #{level}
		</if>
		 <if test="parentCode!=null and parentCode!=''">
		    and t.parent_code = #{parentCode}
		</if>
		 <if test="code!=null and code!=''">
		    and t.code = #{code}
		</if>
		<if test="end!=null and end!=''">
		    and t.end = #{end}
		</if>
		<if test="id!=null and id!=''">
		    and t.id = #{id}
		</if>
	</select>
	
	<select id="findCpInterceptList" resultMap="CpInterceptEntity" parameterType="map">
		select t.*
		from sc_company_intercept t
		where 
		1=1
		<if test="name!=null and name!=''">
		    and t.name = #{name}
		</if>
	     <if test="level!=null and level!=''">
		    and t.level = #{level}
		</if>
		 <if test="parentCode!=null and parentCode!=''">
		    and t.parent_code = #{parentCode}
		</if>
		<if test="end!=null and end!=''">
		    and t.end = #{end}
		</if>
		<if test="company!=null and company!=''">
		    and t.company = #{company}
		</if>
		<if test="q!=null and q!=''">
		    and t.name like "%"#{q}"%"
		</if>
		<if test="start!=null and tart!='' and offset!=null and offset!=''">
			limit #{start},#{offset}
		</if>	
	</select>
	
	<select id="getTotalResult" resultType="int" parameterType="map">
		select count(1) from sc_company_intercept t
		where 
		1=1
		<if test="name!=null and name!=''">
		    and t.name = #{name}
		</if>
	     <if test="level!=null and level!=''">
		    and t.level = #{level}
		</if>
		 <if test="parentCode!=null and parentCode!=''">
		    and t.parent_code = #{parentCode}
		</if>
		<if test="end!=null and end!=''">
		    and t.end = #{end}
		</if>
	</select>
	
	<update id="update">
		update sc_company_intercept
		<set>
			<if test="code!=null and code!=''">
				code = #{code},
			</if>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="parentCode!=null and parentCode!=''">
				parentCode = #{parentCode},
			</if>
			<if test="level!=null and level!=''">
				level = #{level},
			</if>
			<if test="company!=null and company!=''">
				company = #{company},
			</if>
			<if test="end!=null and end!=''">
				end = #{end},
			</if>
			<if test="msg!=null and msg!=''">
				msg = #{msg},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<insert id="save" parameterType="com.graby.store.entity.CpIntercept">
		insert into sc_company_intercept (
		code, name, parent_code,level,company,end,msg)
		values (
		#{code},#{name}, #{parentCode},#{level},#{company},#{end},#{msg})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from sc_company_intercept where id = #{id}
	</delete>
	
	<delete id="deleteByParams" parameterType="map">
		delete from sc_company_intercept where code like #{code}"%"
	</delete>
	
</mapper> 
