<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.SettlementDao">
	
	<resultMap id="settlemnetEntity" type="com.graby.store.entity.Settlement">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="userName" column="user_name" />
		<result property="dateTime" column="date_time" />
		<result property="subject" column="subject_name" />
		<result property="remark" column="remark" />
		<result property="debit" column="debit" />
		<result property="credit" column="credit" />
		<result property="direction" column="direction" />
		<result property="balance" column="balance" />		
	</resultMap>	
	
	<select id="findSettlemnetByParam" resultType="com.graby.store.entity.Settlement" parameterType="map">
		select a.id as 'id',a.date_time as 'dateTime',a.user_name as 'userName',a.subject_name as 'subject',a.remark as 'remark',
		a.debit as 'debit',a.credit as 'credit',a.direction as 'direction',a.balance as 'balance',a.code as 'code'
		from sc_settlement a
		where 
		1=1
		<if test="userName!=null and userName!=''">
			and a.user_name=#{userName}
		</if>
		<if test="code!=null and code!=''">
			and a.code=#{code}
		</if>
		<if test="id!=null and id!=''">
			and a.id=#{id}
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.date_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.date_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<select id="findSettlemnets" resultMap="settlemnetEntity" parameterType="map">
		select a.*
	    from sc_settlement a
		where 
		1=1
		<if test="userName!=null and userName!=''">
			and a.user_name=#{userName}
		</if>
		<if test="code!=null and code!=''">
			and a.code like #{code}
		</if>
		<if test="id!=null and id!=''">
			and a.id=#{id}
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.date_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.date_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by a.date_time asc
		<if test="start!=null and offset!=null and start!='0' and offset!='0'">
			limit #{start},#{offset}
		</if>
		
	</select>
	
	<select id="getTotalResult" resultType="int" parameterType="map">
		select count(1) from sc_settlement a
		where 
		1=1
		<if test="userName!=null and userName!=''">
			and a.user_name=#{userName}
		</if>
		<if test="code!=null and code!=''">
			and a.code like #{code}
		</if>
		<if test="id!=null and id!=''">
			and a.id=#{id}
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.date_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.date_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<update id="update">
		update sc_settlement
		<set>
			<if test="dateTime!=null and dateTime!=''">
				date_time=#{dateTime},
			</if>
			<if test="code!=null and code!=''">
				code=#{code},
			</if>
			<if test="userName!=null and userName!=''">
				user_name=#{userName},
			</if>	
			<if test="subject!=null and subject!=''">
				subject_name=#{subject},
			</if>	
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>	
			<if test="debit!=null">
				debit=#{debit},
			</if>
			<if test="credit!=null">
				credit=#{credit},
			</if>	
			<if test="direction!=null and direction!=''">
				direction=#{direction},
			</if>	
			<if test="balance!=null">
				balance=#{balance},
			</if>	
		</set>
		where id=#{id}
	</update>
	
	<insert id="save" parameterType="com.graby.store.entity.Settlement">
		insert into sc_settlement(date_time,code,user_name,subject_name,remark,debit,credit,direction,balance) 
		value(#{dateTime},#{code},#{userName},#{subject},#{remark},#{debit},#{credit},#{direction},#{balance})
	</insert>
	
</mapper> 
