<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.ShipOrderReturnDao">

	
	<resultMap id="ShipOrderReturn" type="com.graby.store.entity.ShipOrderReturn">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="expressOrderno" column="express_orderno" />
		<result property="orderId" column="order_id" />
		<result property="createDate" column="create_date" />
	</resultMap>
	
	<select id="findShipOrderByexpress" parameterType="map" resultMap="ShipOrderReturn">
		SELECT * from sc_shiporder_return 
			where 1=1
			<if test="expressOrderno!=null and expressOrderno!=''">
			    and express_orderno = #{expressOrderno} 
			</if> 
			<if test="orderId!=null and orderId!=''">
			    and order_id=#{orderId}
			</if>
			<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and create_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and create_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<insert id="save" parameterType="ShipOrderReturn" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `sc_shiporder_return` VALUES (#{id}, #{createDate}, #{expressOrderno}, #{message},
		 #{orderId}, #{remark}, #{userId});
	</insert>
	
</mapper> 
