<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.ShipOrderDao">

	<resultMap id="ShipOrderEntity" type="com.graby.store.entity.ShipOrder">
		<result property="id" column="id" />
		<result property="centroId" column="centro_id" />
		<result property="createDate" column="create_date" />
		<result property="expressCompany" column="express_company"
			jdbcType="VARCHAR" />
		<result property="expressOrderno" column="express_orderno" />
		<result property="fetchDate" column="fetch_date" />
		<result property="lastUpdateDate" column="last_update_date" />
		<result property="orderno" column="orderno" />
		<result property="originPersion" column="origin_persion" />
		<result property="originPhone" column="origin_phone" />
		<result property="receiverAddress" column="receiver_address" />
		<result property="receiverCity" column="receiver_city" />
		<result property="receiverDistrict" column="receiver_district" />
		<result property="receiverMobile" column="receiver_mobile" />
		<result property="receiverName" column="receiver_name" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="receiverState" column="receiver_state" />
		<result property="receiverZip" column="receiver_zip" />
		<result property="receiverPhone" column="receiver_phone" />
		<result property="buyerNick" column="buyer_nick" />
		<result property="buyerMessage" column="buyer_message" />
		<result property="buyerMemo" column="buyer_memo" />
		<result property="sellerPhone" column="seller_phone" />
		<result property="sellerMobile" column="seller_mobile" />
		<result property="sellerMemo" column="seller_memo" />
		<result property="sellerMessage" column="seller_message" />
		<result property="remark" column="remark" />
		<result property="status" column="status" />
		<result property="totalnum" column="totalnum" />
		<result property="tradeId" column="trade_id" />
		<result property="totalWeight" column="total_weight" />
		<result property="totalPrice" column="total_price" />
		<result property="items" column="items" />
		<result property="type" column="type" />
		<result property="printBatch" column="print_batch" />
		<result property="shopNick" column="shop_nick" />
		<result property="routeCode" column="route_code" />
		<result property="templateURL" column="templateURL" />
		<result property="createUser.id" column="create_userid" />
		<result property="lastUpdateUser.id" column="last_update_userid" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="express_code" property="expressCode" jdbcType="VARCHAR" />
		<result column="insurance_amount" property="insuranceAmount"
			jdbcType="VARCHAR" />
		<result column="insurance_flag" property="insuranceFlag"
			jdbcType="VARCHAR" />
		<result column="insurance_type" property="insuranceType"
			jdbcType="VARCHAR" />
		<result column="invoice_amount" property="invoiceAmount"
			jdbcType="VARCHAR" />
		<result column="invoice_content" property="invoiceContent"
			jdbcType="VARCHAR" />
		<result column="invoice_flag" property="invoiceFlag" jdbcType="VARCHAR" />
		<result column="invoice_header" property="invoiceHeader"
			jdbcType="VARCHAR" />
		<result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
		<result column="logistics_area_code" property="logisticsAreaCode"
			jdbcType="VARCHAR" />
		<result column="logistics_code" property="logisticsCode"
			jdbcType="VARCHAR" />
		<result column="logistics_name" property="logisticsName"
			jdbcType="VARCHAR" />
		<result column="operate_time" property="operateTime" jdbcType="VARCHAR" />
		<result column="operator_code" property="operatorCode"
			jdbcType="VARCHAR" />
		<result column="operator_name" property="operatorName"
			jdbcType="VARCHAR" />
		<result column="orderFlag" property="orderFlag" jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="pay_no" property="payNo" jdbcType="VARCHAR" />
		<result column="pay_time" property="payTime" jdbcType="VARCHAR" />
		<result column="picker_car_no" property="pickerCarNo" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="cancelStatus" property="cancelStatus" />
		<result column="trade_batch" property="tradeBatch" jdbcType="VARCHAR" />
		<result column="source_platform_code" property="sourcePlatformCode"
			jdbcType="VARCHAR" />
		<result column="other_order_no" property="otherOrderNo" />
		<result column="templateURL" property="templateURL" />
		<result column="route_code" property="routeCode" />
		<result column="item_group_status" property="itemGroupStatus" />
		
		
		<collection property="details" column="id" javaType="ArrayList"
			ofType="ShipOrderDetail" select="shipOrderDetailMapped" />
	</resultMap>

	<select id="getShipOrderCount" parameterType="map" resultType="int">
		select count(1)
		from sc_ship_order a 
		where 1=1
		<if test="userId!=null and userId!=''">
			and a.create_userid=#{userId}
		</if>
		<if test="orderno!=null and orderno!=''">
			and a.orderno=#{orderno}
		</if>
	</select>

	<update id="updateShipOrderByTradeId">
		update sc_ship_order
		set
		buyer_nick=#{buyerNick},receiver_address=#{address},receiver_city=#{city},receiver_district=#{district},
		receiver_mobile=#{mobile},receiver_name=#{receiverName},receiver_phone=#{phone},receiver_state=#{state},
		receiver_zip=#{zip},seller_memo=#{sellerMemo}
		where trade_id=#{id}
	</update>

	<update id="updateShipOrderById">
		update sc_ship_order
		set
		buyer_nick=#{buyerNick},receiver_address=#{receiverAddress},receiver_city=#{receiverCity},receiver_district=#{receiverDistrict},
		receiver_mobile=#{receiverMobile},receiver_name=#{receiverName},receiver_phone=#{receiverPhone},receiver_state=#{receiverState},
		receiver_zip=#{receiverZip},seller_memo=#{sellerMemo}
		where id=#{id}
	</update>


	<update id="updateShipOrderSourcePlatformCodeById">
		update sc_ship_order
		set
		source_platform_code = #{sourcePlatformCode}
		where id=#{id}
	</update>

	<update id="updateShipOrderDetailNum">
		update sc_ship_order_detail set
		actualnum=#{actualnum}, num = #{num}
		where id=#{id}
	</update>

	<update id="deleteShipOrderDetailNum">
		delete from sc_ship_order_detail
		where id=#{id}
	</update>


	<update id="updateRemark">
		update sc_ship_order
		set
		remark=#{remark}
		where id=#{orderId}
	</update>


	<delete id="deleteOrder" parameterType="long">
		delete from sc_ship_order
		where id=#{id}
	</delete>

	<delete id="deleteDetailByOrderId" parameterType="long">
		delete from
		sc_ship_order_detail where order_id=#{orderId}
	</delete>

	<delete id="deleteDetail" parameterType="long">
		delete from
		sc_ship_order_detail where id=#{id}
	</delete>

	<!-- 商家发送入库单 -->
	<update id="sendEntryOrder" parameterType="long">
		update sc_ship_order
		set status='ENTRY_WAIT_STORAGE_RECEIVED'
		where id=#{id}
	</update>

	<update id="updateShipOrderWeight">
		update sc_ship_order set total_weight=#{1}
		where id=#{0}
	</update>

	<update id="updateShipOrder">
		update sc_ship_order
		<set>
			<if test="weight != null and weight!=0">
				total_weight=#{weight},
			</if>
			<if test="expressCompany!=null and expressCompany!=''">
				express_company=#{expressCompany},
			</if>
			<if test="expressCode!=null and expressCode!=''">
				expressCode=#{expressCode},
			</if>
			<if test="status!=null and status!=''">
			    status=#{status},
			</if>
			<if test="printBatch!=null and printBatch!=''">
			    print_batch=#{printBatch},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 设置货单状态 -->
	<update id="setOrderStatus">
		update sc_ship_order set status=#{1}
		where id=#{0}
	</update>

	<update id="setTradeStatus">
		UPDATE sc_trade a SET STATUS=#{1}
		WHERE a.id=(SELECT
		trade_id FROM
		sc_ship_order b WHERE b.id=#{0})
	</update>

	<update id="updateShipOrderPrice">
		update sc_ship_order set total_price=#{1}
		where
		id=#{0}
	</update>


	<!-- 查询用户出货单 -->
	<select id="getShipOrder" parameterType="long" resultMap="ShipOrderEntity">
		select
		b.shop_name as "createUser.shopName",
		a.*
		from sc_ship_order a LEFT JOIN
		sc_user b ON a.create_userid = b.id
		where a.id=#{0}
	</select>

	<select id="getSendOrderCount" parameterType="map" resultType="int">
		select count(1) from sc_ship_order t
		where 1=1
		<if test="cuid!=null and cuid!=0">
			and t.centro_id=#{cuid}
		</if>
		<if test="q!=null and q!=''">
			and (t.express_code like "%"#{q}"%" or t.origin_persion
			like "%"#{q}"%" or t.buyer_nick like "%"#{q}"%" or t.items like
			"%"#{q}"%" or t.receiver_name like "%"#{q}"%" or t.receiver_mobile
			like "%"#{q}"%" or t.receiver_phone like "%"#{q}"%" or
			t.receiver_state like "%"#{q}"%" or t.receiver_city like "%"#{q}"%"
			or t.receiver_district like "%"#{q}"%" or t.receiver_address like
			"%"#{q}"%")
		</if>
		<if test="centroId!=null and centroId!=0">
			and t.centro_id=#{centroId}
		</if>
		<if test="orderCode!=null">
			and t.orderNo=#{orderNo}
		</if>
		<if test="company!=null and company!=''">
			and t.express_company=#{company}
		</if>
		<if test="orderId!=null">
			and t.id=#{id}
		</if>
		<if test="type!=null">
			and t.type=#{type}
		</if>
		<if test="status!=null">
			and t.status=#{status}
		</if>
		<if test="source!=null and source!=''">
			and t.source=#{source}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			and t.orderno=#{orderNo}
		</if>
		<if test="expressOrderno!=null and expressOrderno!=''">
			and t.express_orderno=#{expressOrderno}
		</if>
		<if test="userId!=null and userId!=''">
			and t.create_userid=#{userId}
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and t.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and t.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>

	<select id="findeSendOrderByList" parameterType="map"
		resultMap="ShipOrderEntity">
		select t.* from sc_ship_order t
		where 1=1
		<if test="cuid!=null and cuid!=0">
			and t.centro_id=#{cuid}
		</if>
		<if test="q!=null and q!=''">
			and (t.express_code like "%"#{q}"%" or t.origin_persion
			like "%"#{q}"%" or t.buyer_nick like "%"#{q}"%" or t.items like
			"%"#{q}"%" or t.receiver_name like "%"#{q}"%" or t.receiver_mobile
			like "%"#{q}"%" or t.receiver_phone like "%"#{q}"%" or
			t.receiver_state like "%"#{q}"%" or t.receiver_city like "%"#{q}"%"
			or t.receiver_district like "%"#{q}"%" or t.receiver_address like
			"%"#{q}"%")
		</if>
		<if test="centroId!=null and centroId!=0">
			and t.centro_id=#{centroId}
		</if>
		<if test="orderCode!=null">
			and t.orderNo=#{orderNo}
		</if>
		<if test="company!=null and company!=''">
			and t.express_company=#{company}
		</if>
		<if test="orderId!=null">
			and t.id=#{id}
		</if>
		<if test="type!=null">
			and t.type=#{type}
		</if>
		<if test="status!=null">
			and t.status=#{status}
		</if>
		<if test="source!=null and source!=''">
			and t.source=#{source}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			and t.orderno=#{orderNo}
		</if>
		<if test="userId!=null and userId!=''">
			and t.create_userid=#{userId}
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and t.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and t.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by t.last_update_date desc
		limit #{start},#{offset}
	</select>




	<select id="getTotalResults" resultType="long">
		select count(1)
		FROM sc_ship_order a
		WHERE type='deliver' and (a.status='WAIT_EXPRESS_PICKING' or
		a.status='WMS_FINISH' )
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q}
			or a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick =
			#{q} or a.items like "%"#{q}"%" or a.print_batch like "%"#{q}"%")
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company like #{cpCode}
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>

	<select id="shipOrderDetailMapped" parameterType="long"
		resultMap="ShipOrderDetailEntity">
		SELECT a.*
		FROM sc_ship_order_detail a,sc_item b
		WHERE
		a.item_id = b.id and order_id = #{id}
	</select>

	<!-- 根据交易查询出货单 -->
	<select id="getSendShipOrderByTradeId" resultMap="ShipOrderEntity">
		select
		b.shop_name as "createUser.shopName",
		a.*
		from sc_ship_order a LEFT JOIN
		sc_user b ON a.create_userid = b.id
		where a.trade_id=#{0}
	</select>


	<!-- 查询在途入库单 -->
	<select id="findEntryOrderOnWay" resultType="ShipOrder">
		SELECT b.id as
		"createUser.id" ,
		b.shop_name as "createUser.shopName",
		a.id,
		a.express_orderno as expressOrderno,
		a.centro_id as centroId,
		a.express_company as expressCompany,
		a.orderno, a.totalnum,
		a.fetch_date as "fetchDate"
		FROM sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE type='entry' and
		(a.status='ENTRY_WAIT_SELLER_SEND' or
		a.status='ENTRY_WAIT_STORAGE_RECEIVED')
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
	</select>


	<!-- 查询待退货入库单 -->
	<select id="findReturnOrderOnWay" resultType="ShipOrder">
		SELECT b.id as
		"createUser.id" ,
		b.shop_name as "createUser.shopName",
		a.id,
		a.express_orderno as expressOrderno,
		a.centro_id as centroId,
		a.express_company as expressCompany,
		a.orderno, a.totalnum,
		a.fetch_date as "fetchDate"
		FROM sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE type='return' and a.status =
		'ENTRY_WAIT_STORAGE_RECEIVED'
	</select>

	<select id="getEntryOrderDetail" resultType="long">
		SELECT id
		FROM
		sc_ship_order_detail WHERE order_id=#{0} and item_id=#{1}
	</select>

	<select id="getSendOrderIdByTradeId" resultType="long">
		SELECT id
		FROM
		sc_ship_order WHERE trade_id=#{0} for update
	</select>

	<update id="increaseEntryOrderDetail">
		update sc_ship_order_detail set num = num + #{1}
		where id=#{0}
	</update>

	<update id="setSumEntryOrderDetail">
		update sc_ship_order_detail set num =num - #{1},
		actualnum =actualnum+#{2}
		where id=#{0}
	</update>

	<!-- 查询待运单打印出库单 -->
	<select id="findSendOrderWaits" parameterType="map" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='deliver' 
		<if test="status!=null and status!=''">
		    and a.status=#{status}
		</if>
		<if test="status==null or status==''">
			and a.status='ENTRY_WAIT_STORAGE_RECEIVED'    
		</if>
		
		<if test="centroId!=null and centroId!='0'">
			and a.centro_id=#{centroId}
		</if>
		<if test="userId!=null and userId!=0 and userId!=''">
			and a.create_userid=#{userId}
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="q!=null and q!=''">
			and (a.receiver_phone = #{q} or a.receiver_mobile = #{q}
			or a.receiver_name = #{q} or a.trade_batch like #{q} or a.buyer_nick
			= #{q} or a.items like "%"#{q}"%")
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by a.create_date ASC
		<if test="rownum!=null">
			limit #{rownum}
		</if>
	</select>


	<!-- 查询待运单打印出库单 -->
	<select id="findSendOrderWaitsByPages" parameterType="map"
		resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='deliver' and
		a.status='ENTRY_WAIT_STORAGE_RECEIVED'
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="tradeBatchId!=null and tradeBatchId!=''">
			and
			a.trade_batch_id=#{tradeBatchId}
		</if>
		<if test="tradeBatchId==''">
			and a.trade_batch_id is null
		</if>
		<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if test="txtno!=null and txtno!=''">
			and items not like "%"#{txtno}"%"
		</if>
		<if test="q!=null and q!=''">
			and (a.receiver_mobile = #{q} or a.receiver_name = #{q} or
			a.trade_batch = #{q} or a.buyer_nick = #{q} or a.items like
			"%"#{q}"%")
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by a.id DESC
		limit #{start},#{offset}
	</select>

	<!-- 批次查询查询待运单打印出库单 -->
	<select id="findTradeBatchSendOrderWaits" parameterType="map"
		resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='deliver' and a.status='ENTRY_WAIT_STORAGE_RECEIVED'
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="tradeBatchId!=null and tradeBatchId!=''">
			and
			a.trade_batch_id=#{tradeBatchId}
		</if>
		<if test="tradeBatchId==''">
			and a.trade_batch_id is null
		</if>
		<if test="itemTitle!=null and itemTitle!=''">
			and a.items like "%"#{itemTitle}"%"
		</if>
		<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if test="q!=null and q!=''">
			and (a.receiver_mobile = #{q} or a.receiver_name = #{q} or
			a.trade_batch = #{q} or a.buyer_nick = #{q} or a.items like
			"%"#{q}"%")
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by a.create_date desc
		<if test="rownum!=null">
			limit #{rownum}
		</if>
		<if test="rownum==null or rownum==''">
			limit #{start},#{offset}
		</if>
	</select>


	<select id="findTradeBatchSendOrderWaitsCount" parameterType="map"
		resultType="long">
		SELECT
		count(1)
		FROM sc_ship_order a LEFT JOIN sc_user b ON a.create_userid = b.id
		WHERE type='deliver' and a.status='ENTRY_WAIT_STORAGE_RECEIVED'
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="tradeBatchId!=null and tradeBatchId!=''">
			and
			a.trade_batch_id=#{tradeBatchId}
		</if>
		<if test="tradeBatchId==''">
			and a.trade_batch_id is null
		</if>
		<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if test="txtno!=null and txtno!=''">
			and items not like  "%"#{txtno}"%"
		</if>
		<if test="q!=null and q!=''">
			and (a.receiver_mobile = #{q} or a.receiver_name = #{q} or
			a.trade_batch = #{q} or a.buyer_nick = #{q} or a.items like
			"%"#{q}"%")
		</if>
		<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>

	<!-- 查询所有导入 单据 -->
	<select id="findSendOrderImport" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as
		"createUser.shopName",
		a.*,t.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch t on
		a.trade_batch_id = t.id
		WHERE type='deliver' and a.status =
		'WAIT_EXPRESS_PICKING' and a.source = 'IMPORT'

		order by a.create_date desc,a.express_company DESC
	</select>

	<!-- 查询所有导入 单据 -->
	<select id="findSendOrderImportCount" resultType="long">
		SELECT
		count(1)
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch t on
		a.trade_batch_id = t.id
		WHERE type='deliver' and a.status =
		'WAIT_EXPRESS_PICKING' and a.source = 'IMPORT'
	</select>

	<update id="updateImportShipOrderSub">
		update sc_ship_order
		set
		status = 'WMS_FINISH',last_update_date = now()
		where type='deliver' and status = 'WAIT_EXPRESS_PICKING' and source =
		'IMPORT'
	</update>




	<!-- 查询所有已有运单号的发货单 -->
	<select id="findSendOrderWaitsOk" parameterType="map"
		resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*,t.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch
		t on a.trade_batch_id = t.id
		WHERE type='deliver' and (a.status =
		'WAIT_EXPRESS_PICKING' or a.status='WMS_FINISH' )
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q} or
			a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick = #{q}
			or a.items like "%"#{q}"%" or a.print_batch like "%"#{q}"%")
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company like #{cpCode}
		</if>
		<if
			test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by a.last_update_date desc
		limit #{start},#{offset}
	</select>



	<!-- 查询所有已有运单号的发货单 -->
	<select id="findSendOrderList" parameterType="map" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*,t.*
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch
		t on a.trade_batch_id = t.id
		WHERE type='deliver'
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="status!=null and status!=''">
		    and a.status=#{status}
		</if>
		<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if test="txtno!=null and txtno!=''">
			and items not like  "%"#{txtno}"%"
		</if>
		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q} or
			a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick = #{q}
			or a.print_batch like "%"#{q}"%" or a.items like "%"#{q}"%")
		</if>
		order by a.last_update_date DESC
		limit #{start},#{offset}
	</select>




	<select id="findSendOrderListCount" resultType="Long">
		SELECT
		count(1)
		FROM sc_ship_order a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch t on
		a.trade_batch_id = t.id
		WHERE type='deliver'
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="cpCode!=null and cpCode!=''">
			and a.express_company=#{cpCode}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="status!=null and status!=''">
		    and a.status=#{status}
		</if>
			<if test="receiveState!=null and receiveState!='' ">
			and a.receiver_state like "%"#{receiveState}"%"
		</if>
		<if test="txtno!=null and txtno!=''">
			and items not like  "%"#{txtno}"%"
		</if>
		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q} or
			a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick = #{q}
			or a.print_batch like "%"#{q}"%" or a.items like "%"#{q}"%")
		</if>
	</select>



	<!-- 查询待拣货出库单 -->
	<select id="findSendOrderByStatus" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name
		as "createUser.shopName",
		create_date as "createDate",
		a.id, a.centro_id
		as centroId,
		a.origin_persion as
		"originPersion",
		a.origin_phone as
		"originPhone",
		a.receiver_address as "receiverAddress",
		a.receiver_city
		as "receiverCity",
		a.receiver_state as "receiverState",
		a.receiver_name
		as "receiverName",
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone",
		a.receiver_district as
		"receiverDistrict",
		a.receiver_zip as "receiverZip",
		a.seller_memo as
		"sellerMemo",
		a.seller_mobile as
		"sellerMobile",
		a.seller_phone as
		"sellerPhone",
		a.buyer_nick as
		"buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as
		"buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as
		"expressCompany",
		a.express_orderno as
		"expressOrderno"
		FROM
		sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE
		type='deliver' and a.status=#{1} and
		a.centro_id=#{0}
		limit #{2}
	</select>

	<select id="findShipOrdersByParams" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		create_date as
		"createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as
		"originPersion",
		a.origin_phone as "originPhone",
		a.receiver_address as
		"receiverAddress",
		a.receiver_city as "receiverCity",
		a.receiver_state
		as "receiverState",
		a.receiver_name as "receiverName",
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as
		"receiverPhone",
		a.receiver_district as "receiverDistrict",
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as
		"sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as
		"buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as
		"buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as
		"expressCompany",
		a.express_orderno as
		"expressOrderno"
		FROM
		sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE
		type='deliver' and
		a.status="WAIT_EXPRESS_PICKING"
		and a.centro_id=#{centroId}
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="cpCode!=null and cpCode!='express'">
			and a.express_company=#{cpCode}
		</if>
		<if test="limit!=null and limit!=''">
			limit #{limit}
		</if>
	</select>

	<select id="findSendOrderByStatusAndUserId" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		create_date as "createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as
		"originPersion",
		a.origin_phone as "originPhone",
		a.receiver_address as
		"receiverAddress",
		a.receiver_city as "receiverCity",
		a.receiver_state
		as "receiverState",
		a.receiver_name as "receiverName",
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as
		"receiverPhone",
		a.receiver_district as "receiverDistrict",
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as
		"sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as
		"buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as
		"buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as
		"expressCompany",
		a.express_orderno as
		"expressOrderno"
		FROM
		sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE
		type='deliver' and a.status=#{1} and
		a.centro_id=#{0}

		and a.create_userid=#{2}
		limit 200
	</select>


	<!-- 根据多个ID查询发货单 -->
	<select id="findSendOrders" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		create_date as
		"createDate",
		a.id, a.centro_id as centroId,
		a.origin_persion as
		"originPersion",
		a.origin_phone as "originPhone",
		a.receiver_address as
		"receiverAddress",
		a.receiver_city as "receiverCity",
		a.receiver_state
		as "receiverState",
		a.receiver_name as "receiverName",
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as
		"receiverPhone",
		a.receiver_district as "receiverDistrict",
		a.receiver_zip as "receiverZip",
		a.seller_memo as "sellerMemo",
		a.seller_mobile as
		"sellerMobile",
		a.seller_phone as "sellerPhone",
		a.buyer_nick as
		"buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as
		"buyerMessage" ,
		a.remark,
		a.orderno,
		a.express_company as
		"expressCompany",
		a.express_orderno as
		"expressOrderno"
		FROM sc_ship_order a LEFT JOIN sc_user b ON
		a.create_userid = b.id
		WHERE a.id in
		<foreach collection="array" index="index" item="ids" open="("
			separator="," close=")">
			#{ids}
		</foreach>
		order by a.create_userid
	</select>


	<!-- 根据ID查询发货单并分组 -->
	<select id="findSendOrdersGroup" resultType="map">
		select
		a.last_update_date as "lastUpdateDate",
		d.shop_name as
		"shopName",
		c.code,
		c.title,
		c.sku,
		sum(b.num) as "num"
		from sc_ship_order
		a , sc_ship_order_detail b, sc_item c,
		sc_user d
		where a.id=b.order_id
		and b.item_id = c.id and
		a.create_userid = d.id
		and a.id in
		<foreach collection="array" index="index" item="ids" open="("
			separator="," close=")">
			#{ids}
		</foreach>
		group by a.create_userid, c.title, c.sku
	</select>


	<!-- 查询待用户签收出库单 -->
	<select id="findSendOrderSignWaits" parameterType="map"
		resultMap="ShipOrderEntity">
		SELECT b.shop_name
		as "createUser.shopName", create_date as
		"createDate",
		a.id,
		a.centro_id as centroId, a.orderno, a.remark
		FROM
		sc_ship_order a LEFT
		JOIN sc_user b ON a.create_userid = b.id
		WHERE
		type='send' and
		a.status='WAIT_BUYER_RECEIVED'
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
	</select>

	<!-- 根据昵称或运单号查询出库单 -->
	<select id="findSendOrderByQ" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as
		"createUser.shopName",
		create_date as "createDate",
		a.id, a.centro_id as
		centroId,
		a.origin_persion as
		"originPersion",
		a.origin_phone as
		"originPhone",
		a.receiver_address as "receiverAddress",
		a.receiver_city
		as "receiverCity",
		a.receiver_state as "receiverState",
		a.receiver_name
		as "receiverName",
		a.receiver_mobile as "receiverMobile",
		a.receiver_phone as "receiverPhone",
		a.receiver_district as
		"receiverDistrict",
		a.receiver_zip as "receiverZip",
		a.seller_memo as
		"sellerMemo",
		a.seller_mobile as
		"sellerMobile",
		a.seller_phone as
		"sellerPhone",
		a.buyer_nick as
		"buyerNick",
		a.buyer_memo as "buyerMemo",
		a.buyer_message as
		"buyerMessage" ,
		a.remark,
		a.orderno,a.status,
		a.express_company as
		"expressCompany",
		a.express_orderno as
		"expressOrderno",
		a.trade_id as
		"tradeId"
		FROM sc_ship_order a LEFT JOIN
		sc_user b ON a.create_userid = b.id
		WHERE a.type='deliver' AND
		(a.express_orderno like #{0} OR a.buyer_nick like
		#{0} or a.remark like
		#{0} or a.receiver_name like #{0} )
		LIMIT 0, 5;
	</select>


	<!-- 运单打印成功，更新出货单物流信息。 -->
	<update id="setSendOrderExpress" parameterType="map">
		update
		sc_ship_order set
		express_company=#{expressCompany},
		express_orderno=#{expressOrderno},
		status='WAIT_EXPRESS_PICKING'
		where
		id=#{id} and status='ENTRY_WAIT_STORAGE_RECEIVED'
	</update>


	<!-- 运单打印成功，更新出货单物流信息。 BYID -->
	<update id="setSendOrderExpressById" parameterType="map">
		update
		sc_ship_order set
		express_company=#{expressCompany},
		express_orderno=#{expressOrderno},
		orderFlag=#{orderFlag},
		status=#{status},
		seller_Mobile=#{sellerMobile},
		seller_Phone=#{sellerPhone},
		templateURL=#{templateURL},
		route_code=#{routeCode},
		last_update_date=now()
		where id=#{id}
	</update>

	<!-- 选择快递公司 -->
	<update id="chooseExpress">
		update sc_ship_order set
		express_company=#{1}
		where
		id=#{0} and status='ENTRY_WAIT_STORAGE_RECEIVED'
	</update>


	<select id="selectShipOrderByIdCodeAndtype" resultMap="ShipOrderEntity"
		parameterType="java.util.Map">
		select * from sc_ship_order t
		where 1=1
		<if test="orderCode!=null and orderCode!=''">
			and t.orderNo=#{orderCode}
		</if>
		<if test="orderId!=null and orderId!=''">
			and t.id=#{id}
		</if>
		<if test="type!=null and type!=''">
			and t.type=#{type}
		</if>
		<if test="userId!=null and userId!=''">
			and t.create_userid=#{userId}
		</if>
	</select>

	<resultMap id="ShipOrderDetailEntity" type="ShipOrderDetail">
		<result property="id" column="id" />
		<result property="item.id" column="item_id" />
		<result property="order.id" column="order_id" />
		<result property="num" column="num" />
		<result property="skuPropertiesName" column="skuPropertiesName" />
		<result property="orderLineNo" column="order_line_no" />
		<result property="ownerCode" column="ownerCode" />
		<result property="inventoryType" column="inventoryType" />
		<result property="tradeOrderNo" column="trade_order_no" />
		<result property="subTradeOrderNo" column="subTradeOrderNo" />
		<result property="actualPrice" column="actualPrice" />
		<result property="actualnum" column="actualnum" />
	</resultMap>

	<select id="shipOrderDetailbyList" parameterType="java.util.Map"
		resultMap="ShipOrderDetailEntity">
		SELECT t.*
		FROM sc_ship_order_detail t
		WHERE 1=1
		<if test="shipOrderId!=null">
			and order_id=#{shipOrderId}
		</if>
	</select>
	<!-- 单据取消，修改状态。 -->
	<update id="cancelShipOrder" parameterType="map">
		update sc_ship_order
		set delStatus=#{delStatus} where id=#{id}
	</update>
	<!-- 设置单据能否取消 -->
	<update id="setOrderCancel" parameterType="map">
		update sc_ship_order
		set cancelStatus=#{cancelStatus} where id=#{id}
	</update>


	<select id="selectShipOrderByList" resultMap="ShipOrderEntity"
		parameterType="java.util.Map">
		select * from sc_ship_order t
		where 1=1
		<if test="orderCode!=null">
			and t.orderNo=#{orderNo}
		</if>
		<if test="company!=null and company!=''">
			and t.express_company=#{company}
		</if>
		<if test="orderId!=null">
			and t.id=#{id}
		</if>
		<if test="type!=null">
			and t.type=#{type}
		</if>
		<if test="status!=null">
			and t.status=#{status}
		</if>
		<if test="source!=null and source!=''">
			and source=#{source}
		</if>
		<if test="userId!=null and userId!=''">
			and create_userid=#{userId}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			and t.orderno=#{orderNo}
		</if>
		limit 0,500
	</select>


	<update id="updateDetailQuantity" parameterType="map">
		update
		sc_ship_order_detail set actualnum=#{actualnum} where id=#{id}
	</update>

	<select id="getShipOrderDetail" resultMap="ShipOrderDetailEntity"
		parameterType="java.util.Map">
		select * from sc_ship_order_detail t
		where 1=1
		<if test="id!=null and id!=''">
			and id=#{id}
		</if>
		<if test="orderId!=null and orderId!=''">
			and order_id=#{orderId}
		</if>
	</select>

	<select id="getShipOrderDetailList" resultMap="ShipOrderDetailEntity"
		parameterType="java.util.Map">
		select * from sc_ship_order_detail t
		where 1=1
		<if test="orderId!=null and orderId!=''">
			and order_id=#{orderId}
		</if>
	</select>

	<update id="updateShipOrderCentro" parameterType="map">
		update
		sc_ship_order set cuid=#{cuid} where id=#{id}
	</update>


	<update id="updateShipOrderitems" parameterType="map">
		update
		sc_ship_order set
		items=#{items},items_id=#{itemid},invoice_amount=#{totalPrice} where
		id=#{id}
	</update>

	<update id="updateShipOrderStatus" parameterType="map">
		update sc_ship_order
		<set>
			<if test="status != null and status!=''">
				status=#{status},
			</if>
			<if test="lastUpdate == null or  lastUpdate==''">
				last_update_date = now()
			</if>
		</set>

		where id=#{id}
	</update>
	<update id="updateShipOrderStatusSetOrdernoIsNull"
		parameterType="map">
		update sc_ship_order set expressCode =
		null,status=#{status},express_orderno = null,last_update_date = now(),other_order_no=#{otherOrderNo}
		where id=#{id}
	</update>



	<update id="updateShipOrderTradeId" parameterType="map">
		update
		sc_ship_order set trade_id=#{trade_id} where id=#{id}
	</update>



	<select id="getShipOrderDetailByOrderId" resultMap="ShipOrderDetailEntity"
		parameterType="long">
		select * from sc_ship_order_detail t
		where
		t.order_id=#{id}
	</select>

	<select id="findShipOrderByExpressOrderno" resultMap="ShipOrderEntity"
		parameterType="String">
		select a.*,a.items as 'items' from sc_ship_order a
		where
		a.express_orderno = #{0}
		limit 0,1
	</select>

	<update id="updateShipOrderTradeBatchId" parameterType="map">
		update sc_ship_order set
		trade_batch_id=#{tradeBatchId},trade_batch=#{tradeBatch} where id in
		<foreach collection="list" index="index" item="listIds" open="("
			separator="," close=")">
			#{listIds}
		</foreach>
	</update>

	<select id="getCountByDate" resultType="long" parameterType="map">
	  <![CDATA[
		select count(1) from sc_ship_order t where t.create_date>=date_format(#{startDate},'%Y-%m-%d %H:%i')  and t.create_date>=date_format(#{endDate},'%Y-%m-%d %H:%i')
		]]>
	</select>
	<select id="getSuccessCountByDate" resultType="long"
		parameterType="map">
	  <![CDATA[
		select  count(1) from sc_ship_order t where  t.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') and  t.create_date < date_format(#{endDate},'%Y-%m-%d %H:%i')
		 and 
		EXISTS (select 1 from sc_check_out c where  c.status like  'SUCCESS%' and c.order_code = t.express_orderno and c.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') and c.create_date < date_format(#{endDate},'%Y-%m-%d %H:%i')) 
	]]>
	</select>

	<select id="getCheckSuccessCountByDate" resultType="long"
		parameterType="map">
		 <![CDATA[
		select count(1) from sc_check_out t  where status like  'SUCCESS%'   and  t.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') and  t.create_date < date_format(#{endDate},'%Y-%m-%d %H:%i')
		]]>
	</select>
	<select id="getCheckFailCountByDate" resultType="long"
		parameterType="map">
		 <![CDATA[
		select count(1) from sc_check_out t  where status  like  'FAIL%'   and  t.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') and  t.create_date < date_format(#{endDate},'%Y-%m-%d %H:%i')
	]]>
	</select>

	<select id="selectShipOrderNotEXISTS" resultMap="ShipOrderEntity"
		parameterType="java.util.Map">
		select * from sc_ship_order t where 1= 1
		<if test="userId!=0 and userId!=''">
			and t.create_userid = #{userId}
		</if>
			 <![CDATA[
		  and  t.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') and  t.create_date < date_format(#{endDate},'%Y-%m-%d %H:%i')
			 and 
	     not	EXISTS (select 1 from sc_check_out c where  c.status like  'SUCCESS%' and c.order_code = t.express_orderno and c.create_date >= date_format(#{startDate},'%Y-%m-%d %H:%i') ) 
			order  by  t.create_Date  asc  
			]]>
	</select>


	<select id="getShipOrderItemByWorkGroup" parameterType="map"
		resultType="map">
		SELECT d.item_id as itemId,count(1) as quantity FROM sc_ship_order t LEFT join
		sc_ship_order_detail d on d.order_id=t.id
		<where>
		    1=1
		    <if test="startDate!=null and startDate!=''">
		       <![CDATA[ and t.create_date>=DATE_FORMAT(#{startDate},'%Y-%m-%d %H:%i')]]>
		    </if>
		    <if test="endDate!=null and endDate!=''">
		          <![CDATA[ and t.create_date<=DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i')]]>
		    </if>
		    <if test="userIds!=null and userIds!=''">
		        and t.create_userid in(${userIds})
		    </if>
		    <if test="status!=null and status!=''">
		        and t.`status`=#{status}
		    </if>
		    <if test="itemId!=null and itemId!=''">
		        and d.item_id=#{itemId}
		    </if>
		</where>		
		GROUP BY d.item_id 
		order by t.create_userid,quantity desc
	</select>
	
	
	<!-- 查询旧表数据 BEGIN-->
	
	<!-- 查询所有已有运单号的发货单 -->
	<select id="findSendOrderOldList" parameterType="map" resultMap="ShipOrderEntity">
		SELECT
		b.shop_name as "createUser.shopName",
		a.*,t.*
		FROM sc_ship_order_1109 a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch
		t on a.trade_batch_id = t.id
		WHERE type='deliver'
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>
		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q} or
			a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick = #{q}
			or a.print_batch like "%"#{q}"%")
		</if>
		order by a.last_update_date DESC
		limit #{start},#{offset}
	</select>




	<select id="findSendOrderOldListCount" resultType="Long">
		SELECT
		count(1)
		FROM sc_ship_order_1109 a
		LEFT JOIN sc_user b ON a.create_userid = b.id
		LEFT JOIN sc_trade_batch t on
		a.trade_batch_id = t.id
		WHERE type='deliver'
		<if test="centroId!=null and centroId!=0">
			and a.centro_id=#{centroId}
		</if>
		<if test="cuid!=null and cuid!=0">
			and a.centro_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=0">
			and a.create_userid=#{userId}
		</if>

		<if test="q!=null and q!=''">
			and (a.express_orderno = #{q} or a.receiver_mobile = #{q} or
			a.receiver_name = #{q} or a.trade_batch = #{q} or a.buyer_nick = #{q}
			or a.print_batch like "%"#{q}"%")
		</if>
	</select>
	
	<!-- 查询旧表数据END -->

</mapper> 
