<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.TradeBatchDao">
	
	<resultMap id="TradeBatchEntity" type="com.graby.store.entity.TradeBatch">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
	    <result property="userName" column="user_name" />
	    <result property="centroId" column="centro_id" />
	    <result property="centroName" column="centro_name" />
	    <result property="itemId" column="item_id" />
	    <result property="itemName" column="item_name" />
		<result property="date" column="date" />
	    <result property="no" column="no" />
		<result property="quantity" column="quantity" />
	    <result property="num" column="num" />
	 	<result property="status" column="status" />
	 	<result property="expressCompany" column="express_company" />
	</resultMap>
	
	<select id="findTradeBatchByUserId"  parameterType="long" resultMap="TradeBatchEntity">
		select a.* from sc_trade_batch a where a.user_id=#{uid}
	</select>
	
	<select id="findTradeBatchById"  parameterType="long" resultType="TradeBatch">
		select a.* from sc_trade_batch a where a.id=#{id}
	</select>
	
	<select id="getTradeBatch" resultMap="TradeBatchEntity" parameterType="map">
		select * from sc_trade_batch  
		<where>
			<if test="userId!=null and userId!=0">
				and user_id=#{userId}
			</if>
			
			<if test="centroId!=null and centroId!=0">
				and centro_id=#{centroId}
			</if>
			
			<if test="expressCompany!=null">
				and express_company=#{expressCompany}
			</if>
			
			<if test="status!=null">
				and status=#{status}
			</if>
		</where>
	</select>
	
	<select id="getTradeBatchById" parameterType="Long" resultMap="TradeBatchEntity">
		select * from sc_trade_batch s where s.id=#{0}
	</select>

	
	<insert id="save" parameterType="com.graby.store.entity.TradeBatch" useGeneratedKeys="true" keyProperty="id">
		insert into sc_trade_batch(
		centro_id,centro_name,date,item_id,item_name,no,num,quantity,status,user_id,user_name,express_company)
		values (
		#{centroId},#{centroName},#{date},#{itemId},#{itemName},#{no},#{num},#{quantity},#{status},#{userId},#{userName},#{expressCompany})
	</insert>
		<!-- 查询打印已完成批次-->
	<select id="getCompleteIds" resultType="map">
	
		select  * from  (SELECT
	 
		a.trade_batch_id , count(1) as count		FROM sc_ship_order a   LEFT JOIN   sc_trade_batch b   on a.trade_batch_id	  =b.id 

	  WHERE type='deliver' and a.status='ENTRY_WAIT_STORAGE_RECEIVED'  and b.status = 'PRINTING'
	
	  and a.trade_batch_id  is not null group by  a.trade_batch_id ) b  where  b.count = 0
		 
       
	</select>
	
	<update id="updateComplete" parameterType="map" >
    		update sc_trade_batch  t set t.status= 'COMPLETE'  where where id  in 
		<foreach collection="list" index="index" item="listIds" open="("
			separator="," close=")">
			#{listIds}
		</foreach>
 
  </update>
</mapper> 
