<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.TradeDao">

	<!-- 悲观锁 -->
	<select id="getTrade" parameterType="long"  resultMap="TradeEntity">
		SELECT *
		FROM sc_trade	where id=#{0} for update
	</select>
	
	<!-- ============= 结果集定义 start ============= -->
	
	<resultMap id="TradeEntity" type="com.graby.store.entity.Trade">
		<result property="id" column="id"/>
		<result property="weight" column="weight"/>
		<result property="tradeFrom" column="trade_from"/>
		<result property="shippingType" column="shipping_type"/>
		<result property="payTime" column="pay_time"/>
		<result property="status" column="status"/>
		<result property="centro.id" column="centro_id"/>
		<result property="lgAgingType" column="lg_aging_type"/>
		<result property="lgAging" column="lg_aging"/>
		<result property="user.id" column="user_id"/>
		<result property="buyerArea" column="buyer_area"/>
		<result property="buyerMemo" column="buyer_memo"/>
		<result property="buyerNick" column="buyer_nick"/>
		<result property="buyerMessage" column="buyer_message"/>
		<result property="buyerEmail" column="buyer_email"/>
		<result property="buyerAlipayNo" column="buyer_alipay_no"/>
		<result property="hasBuyerMessage" column="has_buyer_message"/>
		<result property="sellerPhone" column="seller_phone"/>
		<result property="sellerMobile" column="seller_mobile"/>
		<result property="sellerMemo" column="seller_memo"/>
		<result property="receiverAddress" column="receiver_address"/>
		<result property="receiverName" column="receiver_name"/>
		<result property="receiverPhone" column="receiver_phone"/>		
		<result property="receiverCity" column="receiver_city"/>
		<result property="receiverDistrict" column="receiver_district"/>
		<result property="receiverMobile" column="receiver_mobile"/>		
		<result property="receiverState" column="receiver_state"/>
		<result property="receiverZip" column="receiver_zip"/>
		<result property="cuid" column="cu_id"/>
		<result column="other_order_no" property="otherOrderNo"/> 
		<result property="sellerFlag" column="seller_flag" />
		<result property="createDate" column="create_date" />
		<collection property="orders" column="id" javaType="ArrayList" ofType="TradeOrder" select="fetchTradeOrders"/>  
	</resultMap>
	
	<select id="findTradeByLgAging"  resultType="Trade"> 
       SELECT * FROM sc_trade t where t.lg_aging=#{0}
    </select>
    
	<select id="findTradeListByLgAging"    resultMap="TradeEntity"> 
	    select a.* from sc_trade a 
       where    a.lg_aging    in 
		<foreach collection="array" index="index" item="ids" open="("
			separator="," close=")">
			#{ids}
		</foreach>
     </select>
		
	<update id="updateTradeOrderNum"> 
        update sc_trade_order set num  = #{num}
        where trade_id=#{trade_id}   and  item_id = #{item_id}
    </update>
    
    <update id="deleteTradeOrderNum"> 
        delete FROM sc_trade_order  
        where trade_id=#{trade_id}   and  item_id = #{item_id}
    </update>
	
	
	
	<select id="getTotalResult" parameterType="map" resultType="int">
		select count(1) from sc_trade a 
		left join sc_trade_order b on a.id=b.trade_id
		where 1=1
		<if test="receiverAddress!=null and receiverAddress!=''">
			and (a.receiver_address like "%"#{receiverAddress}"%" or a.receiver_state like "%"#{receiverAddress}"%" or a.receiver_city like "%"#{receiverAddress}"%" or a.receiver_district like "%"#{receiverAddress}"%")
		</if>
		<if test="receiverMessage!=null and receiverMessage!=''">
			and (a.receiver_name like "%"#{receiverMessage}"%" or a.receiver_phone like "%"#{receiverMessage}"%" or a.receiver_mobile like "%"#{receiverMessage}"%")
		</if>
		<if test="itemTitle!=null and itemTitle!=''">
			and b.title like "%"#{itemTitle}"%"
		</if>
		<if test="userId != null and userId != 0 and userId!=''">  
           and a.user_id= #{userId}  
        </if>  
        <if test="q != null and q!=''">  
           and (a.seller_flag like #{q} or a.buyer_nick like  #{q} or b.title like #{q} or a.receiver_state like #{q} or a.receiver_city like #{q} or a.receiver_address like #{q} or a.receiver_district like #{q} or a.receiver_name like #{q} or a.receiver_mobile like #{q} or a.receiver_phone like #{q} )  
        </if>
        <if test="cuid!=null and cuid!=0">
        	and a.cu_id=#{cuid}
        </if>   
        <if test="status!=null and status!=''">
        	and a.status=#{status}
        </if>    
        <if test="startDate!=null and endDate!=null and startDate!='' and endDate!=''">
			<![CDATA[
				and a.pay_time > date_format(#{startDate},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{endDate},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<select id="findTradesBy" parameterType="map" resultMap="TradeEntity">
		select a.* from sc_trade a left join sc_trade_order b on a.id=b.trade_id
		where 1=1
		<if test="userId!=null and userId!=''">
			and a.user_id=#{userId}
		</if>
		<if test="receiverAddress!=null and receiverAddress!=''">
			and (a.receiver_address like "%"#{receiverAddress}"%" or a.receiver_state like "%"#{receiverAddress}"%" or a.receiver_city like "%"#{receiverAddress}"%" or a.receiver_district like "%"#{receiverAddress}"%")
		</if>
		<if test="receiverMessage!=null and receiverMessage!=''">
			and (a.receiver_name like "%"#{receiverMessage}"%" or a.receiver_phone like "%"#{receiverMessage}"%" or a.receiver_mobile like "%"#{receiverMessage}"%")
		</if>
		<if test="itemTitle!=null and itemTitle!=''">
			and b.title like "%"#{itemTitle}"%"
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		<if test="status!=null and status!=''">
		    and a.status=#{status}
		</if>
		limit #{start},#{offset}
	</select>
	
	<select id="fetchTradeOrders" parameterType="long" resultType="TradeOrder">
		SELECT
		  id,adjust_fee as "adjustFee",buyer_nick as "buyerNick",
		  discount_fee as "discountFee",num,num_iid as "numIid",
		  order_from as "orderFrom",pic_path as "picPath",sku_id as "skuId",
		  sku_properties_name as "skuPropertiesName",
		  timeout_action_time as "timeoutActionTime",
		  title,total_fee as "totalFee",
		  item_id as "item.id",trade_id as "tradeId"
		FROM sc_trade_order where trade_id=#{id}
	</select>


	<!-- ============= 结果集定义 END ============= -->
	
	<!-- 关联淘宝交易ID和系统交易ID -->
	<insert id="createTradeMapping" useGeneratedKeys="true" keyColumn="id">
		insert into sc_trade_mapping (tid, trade_id, status)
		values (#{tid}, #{tradeId}, 'TRADE_WAIT_CENTRO_AUDIT')
	</insert>
	
	<update id="updateTradeMappingStatus"> 
        update sc_trade_mapping set status=#{1}
        where trade_id=#{0}
    </update>  
	
	
	<!-- 获取淘宝交易关联的系统交易ID -->
	<select id="getRelatedTradeId" resultType="long">
		select trade_id  from sc_trade_mapping
		 where tid=#{0}
	</select>
	
	<!-- 获取淘宝交易关联的系统交易ID -->
	<select id="getRelatedMapping" resultType="TradeMapping">
		select tid as "tid", trade_id as "tradeId", status from sc_trade_mapping
		 where tid=#{0}
	</select>
	
	<!-- 取第一个tid -->
	<select id="getRelatedTid" resultType="long">
		select tid  from sc_trade_mapping
		 where trade_id=#{0}
	</select>
		
	<!-- BUG TODO : GROUP_CONCAT(c.title ,'')  AS itemTitles  		
		LEFT JOIN sc_trade_order c ON c.trade_id = a.id
	 -->
	<select id="findWaitAuditTrades" resultType="Trade">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
			trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
			receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,STATUS AS "status" ,
			receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
			has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
			receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
			receiver_state AS "receiverState"
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT' limit 500
	</select>
	
	<select id="findWaitAuditTradesBy" parameterType="map" resultType="Trade">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			a.buyer_area AS "buyerArea" ,a.buyer_memo AS "buyerMemo" ,a.receiver_address AS "receiverAddress" ,a.pay_time AS "payTime" ,
			a.trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,a.receiver_name AS "receiverName" ,
			a.receiver_phone AS "receiverPhone" ,a.shipping_type AS "shippingType" ,a.receiver_district AS "receiverDistrict" ,a.STATUS AS "status" ,
			a.receiver_mobile AS "receiverMobile" ,a.buyer_email AS "buyerEmail" ,a.receiver_city AS "receiverCity" ,
			a.centro_id AS "centro.id" ,a.lg_aging_type AS "lgAgingType" ,
			a.has_buyer_message AS "hasBuyerMessage" , a.buyer_message as "buyerMessage", a.buyer_memo as "buyerMemo", a.seller_memo as "sellerMemo",
			a.receiver_zip AS "receiverZip" ,a.lg_aging AS "lgAging" ,a.user_id AS "user.id" ,a.buyer_alipay_no AS "buyerAlipayNo" ,
			a.receiver_state AS "receiverState", a.merge_hash as "mergeHash",
			a.weight as 'weight',a.seller_flag as 'sellerFlag' 
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
			LEFT JOIN sc_trade_order o on o.trade_id=a.id
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT' 
		<if test="userId != null and userId != 0 ">  
           and a.user_id= #{userId}  
        </if>  
        
		<if test="weight_x==1">
		    and a.weight=#{weight}
		</if>
		<if test="weight_x==2">
		    <![CDATA[and a.weight >=#{weight} ]]>
		</if>
		<if test="weight_x==3">
		     <![CDATA[and a.weight<=#{weight} ]]>
		</if>
		
        <if test="buyNick!= null and buyNick!=''">  
           and (a.receiver_name like #{buyNick} or a.buyer_nick like #{buyNick})
        </if>  
		<if test="receiverState != null">  
           and a.receiver_state like #{receiverState}
        </if> 
		<if test="receiverCity != null">  
           and a.receiver_city like #{receiverCity} 
        </if>
        <if test="q != null">  
           and (a.seller_flag like #{q} or a.buyer_nick like  #{q} or o.title like #{q} or a.receiver_state like #{q} or a.receiver_city like #{q} or a.receiver_address like #{q} or a.receiver_district like #{q} or a.receiver_name like #{q} or a.receiver_mobile like #{q} or a.receiver_phone like #{q} )  
        </if>
         <if test="key!= null">  
           and a.receiver_address like #{key}
        </if>
        <if test="hash != null">  
           and a.merge_hash=#{hash}  
        </if>    
        <if test="cuid!=null and cuid!=0">
        	and a.cu_id=#{cuid}
        </if>    
        <if test="others!=null and others==1 ">
        	and (a.receiver_address like '%乡%' or a.receiver_address like '%镇%' or a.receiver_address like '%村%' or a.receiver_address like '%组%')
        </if>
        <if test="others!=null and others==2">
        	 and (a.receiver_address not like '%乡%' and a.receiver_address not like '%镇%' and a.receiver_address not like '%村%' and a.receiver_address not like '%组%')
        </if>
         <if test="startDate!=null and endDate!=null and startDate!='' and endDate!=''">
			<![CDATA[
				and a.pay_time > date_format(#{startDate},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{endDate},'%Y-%m-%d %H:%i')
			]]>
		</if>
		
        <if test="array!=null">
            and   a.id   in  
       		<foreach collection="array" index="index" item="ids" open="("
				separator="," close=")">
					#{ids}
			</foreach>
         </if>
         
        group by id  
        order by a.receiver_state,a.receiver_city ASC
		limit 500
		
	</select>
	
	<select id="findWaitAuditTradesByLgAging" parameterType="map" resultType="Trade">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			a.buyer_area AS "buyerArea" ,a.buyer_memo AS "buyerMemo" ,a.receiver_address AS "receiverAddress" ,a.pay_time AS "payTime" ,
			a.trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,a.receiver_name AS "receiverName" ,
			a.receiver_phone AS "receiverPhone" ,a.shipping_type AS "shippingType" ,a.receiver_district AS "receiverDistrict" ,a.STATUS AS "status" ,
			a.receiver_mobile AS "receiverMobile" ,a.buyer_email AS "buyerEmail" ,a.receiver_city AS "receiverCity" ,
			a.centro_id AS "centro.id" ,a.lg_aging_type AS "lgAgingType" ,
			a.has_buyer_message AS "hasBuyerMessage" , a.buyer_message as "buyerMessage", a.buyer_memo as "buyerMemo", a.seller_memo as "sellerMemo",
			a.receiver_zip AS "receiverZip" ,a.lg_aging AS "lgAging" ,a.user_id AS "user.id" ,a.buyer_alipay_no AS "buyerAlipayNo" ,
			a.receiver_state AS "receiverState", a.merge_hash as "mergeHash",
			a.weight as 'weight',a.seller_flag as 'sellerFlag' 
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
			LEFT JOIN sc_trade_order o on o.trade_id=a.id
			LEFT JOIN sc_ship_order s on a.lg_aging=s.id
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT' 
		<if test="userId != null and userId != 0 ">  
           and a.user_id= #{userId}  
        </if>  
        <if test="company != null and company != '' ">  
           and s.logistics_code = #{company}  
        </if> 
		<if test="weight_x==1">
		    and a.weight=#{weight}
		</if>
		<if test="weight_x==2">
		    <![CDATA[and a.weight >=#{weight} ]]>
		</if>
		<if test="weight_x==3">
		     <![CDATA[and a.weight<=#{weight} ]]>
		</if>
		
        <if test="buyNick!= null and buyNick!=''">  
           and (a.receiver_name like #{buyNick} or a.buyer_nick like #{buyNick})
        </if>  
		<if test="receiverState != null">  
           and a.receiver_state like #{receiverState}
        </if> 
		<if test="receiverCity != null">  
           and a.receiver_city like #{receiverCity} 
        </if>
        <if test="q != null">  
           and (a.seller_flag like #{q} or a.buyer_nick like  #{q} or o.title like #{q} or a.receiver_state like #{q} or a.receiver_city like #{q} or a.receiver_address like #{q} or a.receiver_district like #{q} or a.receiver_name like #{q} or a.receiver_mobile like #{q} or a.receiver_phone like #{q} )  
        </if>
         <if test="key!= null">  
           and a.receiver_address like #{key}
        </if>
        <if test="hash != null">  
           and a.merge_hash=#{hash}  
        </if>    
        <if test="cuid!=null and cuid!=0">
        	and a.cu_id=#{cuid}
        </if>    
        <if test="others!=null and others==1 ">
        	and (a.receiver_address like '%乡%' or a.receiver_address like '%镇%' or a.receiver_address like '%村%' or a.receiver_address like '%组%')
        </if>
        <if test="others!=null and others==2">
        	 and (a.receiver_address not like '%乡%' and a.receiver_address not like '%镇%' and a.receiver_address not like '%村%' and a.receiver_address not like '%组%')
        </if>
         <if test="startDate!=null and endDate!=null and startDate!='' and endDate!=''">
			<![CDATA[
				and a.pay_time > date_format(#{startDate},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{endDate},'%Y-%m-%d %H:%i')
			]]>
		</if>
		
        <if test="array!=null">
            and   a.id   in  
       		<foreach collection="array" index="index" item="ids" open="("
				separator="," close=")">
					#{ids}
			</foreach>
         </if>
         
        group by id  
        order by a.receiver_state,a.receiver_city ASC
		limit 500
		
	</select>
	
	<select id="findWaitAuditTradesByPages" parameterType="map" resultType="Trade">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
			trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
			receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,STATUS AS "status" ,
			receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
			a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
			has_buyer_message AS "hasBuyerMessage" , buyer_message as "buyerMessage", buyer_memo as "buyerMemo", seller_memo as "sellerMemo",
			receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
			receiver_state AS "receiverState", merge_hash as "mergeHash"
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
			LEFT JOIN sc_trade_order o on o.trade_id=a.id
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT'
		<if test="userId != null and userId != 0 ">  
           and a.user_id= #{userId}  
        </if>  
        <if test="buyNick!= null and buyNick!=''">  
           and (a.receiver_name like #{buyNick} or a.buyer_nick like #{buyNick})
        </if>  
		<if test="receiverState != null">  
           and a.receiver_state= #{receiverState}  
        </if> 
		<if test="receiverCity != null">  
           and a.receiver_city= #{receiverCity}  
        </if>
        <if test="q != null and q!=''">  
           and (a.seller_flag like #{q} or a.buyer_nick like  #{q} or o.title like #{q} or a.receiver_state like #{q} or a.receiver_city like #{q} or a.receiver_address like #{q} or a.receiver_district like #{q} or a.receiver_name like #{q} or a.receiver_mobile like #{q} or a.receiver_phone like #{q} )  
        </if>
         <if test="key!= null">  
           and a.receiver_address like #{key}
        </if>
        <if test="hash != null">  
           and a.merge_hash=#{hash}  
        </if>    
        <if test="cuid!=null and cuid!=0">
        	and a.cu_id=#{cuid}
        </if>    
        <if test="startDate!=null and endDate!=null and startDate!='' and endDate!=''">
			<![CDATA[
				and a.pay_time > date_format(#{startDate},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{endDate},'%Y-%m-%d %H:%i')
			]]>
		</if>
		<if test="others!=null and others==1 ">
        	and (receiver_address like '%乡%' or receiver_address like '%镇%' or receiver_address like '%村%' or receiver_address like '%组%')
        </if>
        <if test="others!=null and others==2">
        	 and (receiver_address not like '%乡%' and receiver_address not like '%镇%' and receiver_address not like '%村%' and receiver_address not like '%组%')
        </if>
		limit #{start},#{offset}
	</select>
	
	
	<!-- 查询被拆分的订单 -->
	<select id="findSplitedTrades"  resultType="map" parameterType="map">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
			trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
			receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,a.STATUS AS "status" ,
			receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
			has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
			receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
			receiver_state AS "receiverState", merge_hash as "mergeHash",
			GROUP_CONCAT(d.title, "|") as "itemTitles"
		FROM sc_trade a 
			LEFT JOIN sc_user b ON b.id = a.user_id
			LEFT JOIN sc_trade_order c on c.trade_id = a.id 
			LEFT JOIN sc_item d on d.id = c.item_id
		WHERE `merge_hash` is not null
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		group by a.id
		ORDER BY a.`trade_from`
	</select>
	
	<select id="findSplitedTradesByPage"  resultMap="TradeEntity" parameterType="map">
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
			trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
			receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,a.STATUS AS "status" ,
			receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
			has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
			receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
			receiver_state AS "receiverState", merge_hash as "mergeHash",
			GROUP_CONCAT(d.title, "|") as "itemTitles"
		FROM sc_trade a 
			LEFT JOIN sc_user b ON b.id = a.user_id
			LEFT JOIN sc_trade_order c on c.trade_id = a.id 
			LEFT JOIN sc_item d on d.id = c.item_id
		WHERE `merge_hash` is not null
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=''">
			and a.user_id=#{userId}
		</if>
		<if test="address!=null and address!=''">
			and (a.receiver_address like "%"#{address}"%" or a.receiver_city like "%"#{address}"%" or a.receiver_state like "%"#{address}"%" or a.receiver_district like "%"#{address}"%")
		</if>
		<if test="message!=null and message!=''">
			and (a.receiver_name like "%"#{message}"%" or a.receiver_phone like "%"#{message}"%" or a.receiver_mobile like "%"#{message}"%")
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		group by a.id
		ORDER BY a.`merge_hash`
		limit #{start},#{offset}
	</select>
	
	<select id="findSplitedTradesCount"  resultType="int" parameterType="map">
		SELECT count(1)
		FROM sc_trade a 
		WHERE a.`merge_hash` is not null
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=''">
			and a.user_id=#{userId}
		</if>
		<if test="address!=null and address!=''">
			and (a.receiver_address like "%"#{address}"%" or a.receiver_city like "%"#{address}"%" or a.receiver_state like "%"#{address}"%" or a.receiver_district like "%"#{address}"%")
		</if>
		<if test="message!=null and message!=''">
			and (a.receiver_name like "%"#{message}"%" or a.receiver_phone like "%"#{message}"%" or a.receiver_mobile like "%"#{message}"%")
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and a.pay_time > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and a.pay_time <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<select id="findWaitAuditCitys" resultType="map"  parameterType="map">
		SELECT 
			receiver_city AS "receiverCity",
			receiver_state AS "receiverState"
		FROM sc_trade a
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT' 
		<if test="userId != null and userId != 0 ">  
           and a.user_id= #{userId}  
        </if>  
        <if test="buyNick!= null and buyNick!=''">  
           and (a.receiver_name like #{buyNick} or a.buyer_nick like #{buyNick})
        </if>  
		<if test="receiverState != null">  
           and a.receiver_state= #{receiverState}  
        </if> 
		<if test="receiverCity != null">  
           and a.receiver_city= #{receiverCity}  
        </if>
        <if test="q != null">  
           and (o.title like #{q} or a.receiver_state like #{q} or a.receiver_city like #{q} or a.receiver_address like #{q} or a.receiver_district like #{q} or a.receiver_name like #{q} or a.receiver_mobile like #{q} or a.receiver_phone like #{q} )  
        </if>
         <if test="key!= null">  
           and a.receiver_address like #{key}
        </if>
        <if test="hash != null">  
           and a.merge_hash=#{hash}  
        </if>    
        <if test="cuid!=null and cuid!=0">
        	and a.cu_id=#{cuid}
        </if>    
        <if test="others!=null and others==1 ">
        	and (receiver_address like '%乡%' or receiver_address like '%镇%' or receiver_address like '%村%' or receiver_address like '%组%')
        </if>
        <if test="others!=null and others==2">
        	 and (receiver_address not like '%乡%' and receiver_address not like '%镇%' and receiver_address not like '%村%' and receiver_address not like '%组%')
        </if>
	</select>	
	
	<select id="findWaitAuditTradeIds" resultType="long">
		SELECT id
		FROM sc_trade a  
		WHERE a.status='TRADE_WAIT_CENTRO_AUDIT' and a.centro_id=#{0}
	</select>
	
	<update id="updateTradeStatus"> 
        update sc_trade set status=#{1}
        where id=#{0}
    </update>
	
	<update id="updateTradeStatusAndOtherNo"> 
        update sc_trade set status=#{1},other_order_no=#{2}
        where id=#{0}
    </update>
	
	<update id="updateTradeWeight"> 
        update sc_trade set weight=#{1}
        where id=#{0}
    </update>
    
    <update id="updateTrade"> 
        update sc_trade 
        <set> 
        <if test="buyerNick!=null and buyerNick!=''">
        	 buyer_nick=#{buyerNick},
        </if>
        <if test="address!=null and address!=''">
        	 receiver_address=#{address},
        </if>
        <if test="city!=null and city!=''">
        	  receiver_city=#{city},
        </if>
        <if test="district!=null and district!=''">
        	  receiver_district=#{district},
        </if>
        <if test="mobile!=null and mobile!=''">
        	 receiver_mobile=#{mobile},
        </if>
        <if test="receiverName!=null and receiverName!=''">
        	receiver_name=#{receiverName},
        </if>
        <if test="phone!=null and phone!=''">
        	receiver_phone=#{phone},
        </if>
        <if test="state!=null and state!=''">
        	receiver_state=#{state},
        </if>
        <if test="zip!=null and zip!=''">
        	receiver_zip=#{zip},
        </if>
        <if test="sellerMemo!=null and sellerMemo!=''">
        	seller_memo=#{sellerMemo}
        </if>
         <if test="sellerFlag!=null and sellerFlag!=''">
        	seller_flag=#{sellerFlag}
        </if>
         <if test="lgAging!=null and lgAging!=''">
        	lg_aging=#{lgAging}
        </if>
        </set>
        where id=#{id}
    </update>
    
    <update id="updateTradeMergeHash"> 
        update sc_trade set merge_hash=#{1}
        where id=#{0}
    </update>    
    
    <select id="getTotalResults" resultType="long">
		select count(1) from sc_trade where user_id=#{0} and status like #{1}
	</select>
	
    <select id="getTrades" resultType="Trade">
	SELECT 
		a.id AS "id" , b.shop_name AS "user.shopName", 
		buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
		trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
		receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,STATUS AS "status" ,
		receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
		has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
		receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
		receiver_state AS "receiverState",seller_flag as sellerFlag
	FROM sc_trade a  
		LEFT JOIN sc_user b ON b.id = a.user_id 
	WHERE a.centro_id=1 and a.user_id=#{0} and a.status like #{1} limit #{2},#{3}
	</select>	
	<select id="getTotalResultsTBnumber" resultType="long">
		select count(1) from sc_trade where user_id=#{0} and trade_from like #{1}
	</select>
    
     <select id="getTradesTBnumber" resultType="Trade">
	SELECT 
		a.id AS "id" , b.shop_name AS "user.shopName", 
		buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
		trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
		receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,STATUS AS "status" ,
		receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
		has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
		receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
		receiver_state AS "receiverState",seller_flag as sellerFlag
	FROM sc_trade a  
		LEFT JOIN sc_user b ON b.id = a.user_id 
	WHERE a.centro_id=1 and a.user_id=#{0} and a.trade_from like #{1} limit #{2},#{3}
	</select>	
	
	<!-- 查询未关闭订单 -->
	<select id="findUnfinishedTrades" resultType="Trade" parameterType="map"> 
		SELECT 
			a.id AS "id" , b.shop_name AS "user.shopName", 
			buyer_area AS "buyerArea" ,buyer_memo AS "buyerMemo" ,receiver_address AS "receiverAddress" ,pay_time AS "payTime" ,
			trade_from AS "tradeFrom" ,a.buyer_nick AS "buyerNick" ,receiver_name AS "receiverName" ,
			receiver_phone AS "receiverPhone" ,shipping_type AS "shippingType" ,receiver_district AS "receiverDistrict" ,STATUS AS "status" ,
			receiver_mobile AS "receiverMobile" ,buyer_email AS "buyerEmail" ,receiver_city AS "receiverCity" ,
			has_buyer_message AS "hasBuyerMessage" ,a.centro_id AS "centro.id" ,lg_aging_type AS "lgAgingType" ,
			receiver_zip AS "receiverZip" ,lg_aging AS "lgAging" ,user_id AS "user.id" ,buyer_alipay_no AS "buyerAlipayNo" ,
			receiver_state AS "receiverState",seller_flag as sellerFlag
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
		WHERE  a.status='TRADE_WAIT_EXPRESS_SHIP' 
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		LIMIT #{start},#{offset}
	</select>
	<select id="countUnfinishedTrades" resultType="long">
		SELECT 
			count(1)
		FROM sc_trade a  
			LEFT JOIN sc_user b ON b.id = a.user_id 
		WHERE  a.centro_id=1 and a.status='TRADE_WAIT_EXPRESS_SHIP'
	</select>	
	<select id="getItemsByTrade" resultType="String">
	    SELECT GROUP_CONCAT(c.title) from (SELECT concat(title,'[',CONVERT(num,char),']件') as title 
	    FROM sc_trade_order WHERE trade_id=#{0}) c 	    
	</select>
	
	<!-- 删除交易 -->
	<delete id="deleteShipOrderDetail" parameterType="long">
	   	DELETE FROM sc_ship_order_detail
		WHERE order_id in (SELECT id FROM sc_ship_order WHERE trade_id=#{0})
	</delete>
	<delete id="deleteShipOrder" parameterType="long">
	   DELETE FROM sc_ship_order WHERE trade_id=#{0}
	</delete>
	<delete id="deleteTradeMapping" parameterType="long">
	   DELETE FROM sc_trade_mapping WHERE trade_id=#{0}
	</delete>
	<delete id="deleteTradeOrder" parameterType="long">
	  DELETE FROM sc_trade_order WHERE trade_id=#{0}
	</delete>	
	<delete id="deleteTrade" parameterType="long">
	   DELETE FROM sc_trade WHERE id=#{0}
	</delete>

	<select id="getWaitAuditTradesTotal" resultType="map">
		select user_id as "userId",count(1) as "num"
		from sc_trade  
		where status='TRADE_WAIT_CENTRO_AUDIT'
		group by user_id
	</select>
	
	<select id="findCancelTradesCount"  resultType="int" parameterType="map">
		SELECT count(1)
		FROM sc_trade a 
		left join sc_ship_order b on a.id=b.trade_id
		WHERE a.status='TRADE_WMS_DELETED' and b.status='WMS_DELETED'
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=''">
			and a.user_id=#{userId}
		</if>
		<if test="q!=null and q!=''">
			and (b.remark like "%"#{q}"%" or b.express_orderno like "%"#{q}"%" or a.receiver_name like "%"#{q}"%" or a.receiver_mobile like "%"#{q}"%" or a.receiver_phone like "%"#{q}"%" )
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and b.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and b.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
	</select>
	
	<select id="findCancelTrades"  resultType="Trade" parameterType="map">
		SELECT a.id as "id",a.receiver_name AS "receiverName",a.receiver_mobile AS "receiverMobile"
		FROM sc_trade a 
		left join sc_ship_order b on a.id=b.trade_id
		WHERE a.status='TRADE_WMS_DELETED' and b.status='WMS_DELETED'
		<if test="cuid!=null and cuid!=0">
			and a.cu_id=#{cuid}
		</if>
		<if test="userId!=null and userId!=''">
			and a.user_id=#{userId}
		</if>
		<if test="q!=null and q!=''">
			and (b.remark like "%"#{q}"%" or b.express_orderno like "%"#{q}"%" or a.receiver_name like "%"#{q}"%" or a.receiver_mobile like "%"#{q}"%" or a.receiver_phone like "%"#{q}"%" )
		</if>
		<if test="beigainTime!=null and lastTime!=null and beigainTime!='' and lastTime!=''">
			<![CDATA[
				and b.last_update_date > date_format(#{beigainTime},'%Y-%m-%d %H:%i')
				and b.last_update_date <= date_format(#{lastTime},'%Y-%m-%d %H:%i')
			]]>
		</if>
		order by b.last_update_date desc
		limit #{start},#{offset}
	</select>
	
</mapper> 
