<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graby.store.dao.mybatis.InventoryDao">
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id">
		insert into sc_item_inventory (
		centro_id, user_id, item_id, account, num)
		values (
		#{0}, #{1}, #{2}, #{3}, #{4})
	</insert>
	
   <update id="increase"> 
        update sc_item_inventory set num=num+#{3}  
        where centro_id=#{0} and item_id=#{1} and account=#{2}
    </update> 

	<select id="existAccount" resultType="int">
		select count(1)  from sc_item_inventory
		 where centro_id=#{0} and item_id=#{1} and account=#{2}
	</select>
	
	<select id="stat" resultType="map">
		SELECT 
		 SUM(IF(account = '201', num, 0)) AS "c1", 
		 SUM(IF(account = '101', num, 0)) AS "c2", 
		 SUM(IF(account = '102', num, 0)) AS "c3", 
		 SUM(IF(account = '103_001', num, 0)) AS "c4", 
		 SUM(IF(account = '103_002', num, 0)) AS "c5", 
		 SUM(IF(account = '103_003', num, 0)) AS "c6",
		 SUM(IF(account like '103%', num, 0)) AS "ca", 
		 SUM(IF(account = '104', num, 0)) AS "c7", 
		 SUM(IF(account = '105', num, 0)) AS "c8", 
		 b.title as "itemName",
		 b.code as "itemCode",
		 b.sku as "itemSku"
		FROM
		  sc_item_inventory a left join sc_item b on b.id = a.item_id
		WHERE centro_id = #{0} and user_id = #{1}
		GROUP BY item_id
	</select>
		
	<select id="getValue" resultType="long">
		select ifnull(sum(num), 0)  from sc_item_inventory
		 where centro_id=#{0} and item_id=#{1} and account=#{2}
	</select>
	 
	<!-- 
	<select id="statByUser" resultType="map">
	<![CDATA[ 
		SELECT 
		  SUM(IF(TYPE = 1, num, 0)) AS "ok",
		  SUM(IF(TYPE < 0, num, 0)) AS "bad",
		  SUM(IF(TYPE = 2, num, 0)) AS "frozen"
		FROM
		  sc_item_inventory 
		WHERE centro_id = #{0} and user_id = #{1}
		GROUP BY user_id 
 	]]> 		
	</select>
	 -->	
        
</mapper> 
