<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.graby.store.dao.mybatis.UserDao">

	<select id="findUserByUsername" parameterType="String" resultType="User">
		select id, username, password, salt, roles, shop_name as shopName from sc_user
		where username=#{username}
	</select>
	
	<select id="get" parameterType="int" resultType="User">
		select id, username, roles, shop_name as shopName, description
		from sc_user
		where id=#{id}
	</select>

	<!-- 插入用户： 1.由数据库生成id并赋值到user对象 -->
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into sc_user (
		username, password, salt, roles, shop_name, description)
		values (
		#{username}, #{password}, #{salt}, #{roles}, #{shopName}, #{description})
	</insert>

   <update id="updateDesc"> 
        update sc_user set description=#{1}  
        where id=#{0}
    </update>		

	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="int">
	     delete from sc_user where id=#{id}
	</delete>

	<select id="findAll" parameterType="String" resultType="User">
		SELECT id, username, shop_name AS shopName FROM sc_user a WHERE a.username != 'admin'
	</select>
		
	
	
</mapper> 
